@media (max-width: 767px) {
  .entry-content div:has(> table) {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .entry-content table {
    display: table !important;
    white-space: nowrap;
    font-size: 13px !important;
    border: none !important;
  }

  .entry-content table td,
  .entry-content table th {
    border: none !important;
  }
}
